API_ID = telegram_id
API_HASH = telegram_hash

QDRANT_URL = qdrant_url
QDRANT_COLLECTION = collection_name

LLM_BASE_URL = llm_api_url
LLM_API_KEY = llm_api_key
LLM_MODEL = llm_model_name

CHATS = telegram_chats_list