# --- Telegram Configuration ---
TELEGRAM_BOT_TOKEN=your_bot_token_here
API_ID=example_api_id
API_HASH=example_api_hash
PHONE_NUMBER=+00000000000

# --- Qdrant Configuration ---
QDRANT_URL=http://localhost:6333
QDRANT_VOLUME_PATH=
QDRANT_COLLECTIONS=messages_collection

# --- LLM Configuration ---
LLM_BASE_URL=http://localhost:1234/v1
LLM_API_KEY=your_api_key_here
LLM_MODEL=example_model_name

# --- Chat & User Configuration ---
CHATS=-1111111111 -1000000000_22 -1000000000_33
ALLOWED_USERS=user_id1 user_id2 user_id3

# --- General Configuration ---
PYTHONUNBUFFERED=1